@use 'variables' as *;
@use 'mixins' as *;

$message-out-color: #195344;
$message-in-color: #202C33;

.message-container-out {
  width: 70%;
  height: auto;
  background-color: $message-out-color;
  z-index: 4;
  position: absolute;
  right: 20px;
  bottom: 0;
  border-radius: 9px;
  display: grid;
  align-items: center;
  padding: 5px;
  grid-area: messages-out;
  justify-self: flex-end;
}

.message-container-in {
  width: 70%;
  height: auto;
  background-color: $message-in-color;
  z-index: 4;
  position: absolute;
  left: 20px;
  bottom: 50px;
  border-radius: 9px;
  display: grid;
  align-items: center;
  padding: 5px;
  grid-area: messages-in;
}

.message {
  display: grid;
  color: $light-color;
  font-size: 1.4rem;
  font-weight: $regular-weight;
  padding-left: 9px;
}